# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
_Recovery/
~$*
nul

# Visual Studio
*.csproj
*.sln
*.slnx
*.sln.DotSettings.user
*.suo
*.user
*.userosscache
*.userprefs

# VS Code
.vscode/

# Rider
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Node / Python
node_modules/
__pycache__/
